.texto-centrado {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.principal {
    display: flex;
    margin-top: 3rem;
}

.card {
    margin-right: 2rem;
}

.grafica {
    align-items: center;
    justify-content: center;
}